body {
    background-color: #34495e;
    color: #fff;
}

#drawer {
    background-color: #34495e;
    color: #fff;
}

#drawer select {
    background-color: #2c3e50;
    color: #fff;
    border-color: transparent;
}

#send {
    background-color: #e36209;
}

#save {
    background-color: #666;
}

section {
    background-color: #34495e;
}

input.form-control {
    background-color: #ecf0f1;
}

a,
span.logo {
    color: #fff !important;
}

section.request-bar,
.container-fluid .nav,
.nav .nav-tabs {
    background-color: #2c3e50;
}

.props,
.response {
    background-color: #34495e;
}

.custom-tabs .nav-link.active {
    background-color: #34495e;
    border-color: #e36209 #2c3e50 transparent;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #2c3e50;
}
.nav-tabs .nav-link.active:hover {
    border-top-color: #e36209;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

#method-select {
    background-color: #34495e;
    color: #fff;
    border-color: transparent;
}