*{
    outline: 0 !important;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background: #fff;;
}

input, button, select, a{
    box-shadow: none !important;
}

.logo{
    color: #3d3d3d;
    font-weight: 700;
}

.request-bar{
    background: #fafbfc;
}

.top{
    width: 100%;
    height: 8px;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fb8817, #ff4b01, #c12127, #e02aff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fb8817, #ff4b01, #c12127, #e02aff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.navbar .nav .nav-item a{
    color: #333;
    padding: .5rem 0.7rem;
}

#request-alert{
    display: none;
}

.custom-tabs{
    display: flex;
    background: #fafbfc;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.custom-tabs .nav-item{
    /*flex: 1;*/
    text-align: center;
}

.custom-tabs .nav-link{
    border: 0;
    border: 1px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 3px 3px 0 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #586069;
}

.custom-tabs .nav-link i{
    margin-right: 6px;
}

.custom-tabs .nav-link.active{
    border-color: #e36209 #e1e4e8 transparent;
    color: #24292e;
}


#props .tabs .tab{
    display: none;
    padding-top: 20px;
}

#response .tabs .tab{
    display: none;
    padding-top: 20px;
}

.header-list .item,
.param-list .item{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    position: relative;
}

.header-list .item .key,
.param-list .item .key{
    flex: 1;
    margin-right: 10px;
}

.header-list .item .value,
.param-list .item .value{
    flex: 2;
}

.header-list .item .operation,
.param-list .item .operation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list .item .operation button,
.param-list .item .operation button{
    height: auto;
    border: none;
    padding: .3rem .7rem;
}

.header-list .item input[type="text"],
.param-list .item input[type="text"]{
    height: auto;
    padding: .325rem .5rem;
    font-size: 15px;
    border-radius: 3px;
    font-weight: 400;
}

.header-list .item input[type="text"]::placeholder,
.param-list .item input[type="text"]::placeholder{
    font-weight: 400;
    color: #a0a0a0;
}

#send{
    color: #fff;
    background: #0984e3;
}

#save{
    color: #fff;
    background: #636e72;
}

.operation{
    position: absolute;
    right: 14px;
    top: 5px;
}

.btn-delete{
    padding: 0 !important;
    margin: 0;
    color: #a0a0a0;
}

.btn-delete:hover{
    transition: 0.4s;
    color: #d63031;
}

#method-select{
    background-color: #f9f9f9;
}

#body-editor {
    margin: auto;
    width: 100%;
}

#drawer,
#history,
#collection {
    width: 25%;
    min-width: 300px;
    height: calc(100vh - 64px);
    position: absolute;
    right: 0;
    top: 64px;
    background: #ffffff;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: none;
    overflow-y: auto;
    padding: 20px;
}

#history,
#collection {
    width: 30%;
    min-width: 400px;
    display: none;
}

.close-drawer{
    display: none;
}

.delete_param{
    z-index: 10;
}

.delete_header{
    z-index: 10;
}

#response-headers{
    margin: 0;
}

.list-group a {
    text-decoration: none;
}

.list-group-item {
    display: flex;
}

.list-group a .list-group-item span.method {
    color: green;
    text-transform: uppercase;
    font-weight: bold;
}

.list-group a .list-group-item span.url {
    word-break: break-all;
    color: #333;
}


@media (min-width: 576px) and (max-width: 991px) { 
    #response { 
        margin-top: 10px;
    }
}

.response-code{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.response-code .badge{
    display: none;
    padding: 8px 10px;
    font-size: 14px;
    color: #fff;
}

.response-code .badge{
    font-weight: bold;
}

.response-hr{
    display: none;
}

.delete-button {
    border: none;
    background-color: transparent;
    color: #a0a0a0;
    margin-left: auto;
}

.delete-button:hover {
    color: #d63031;
}

.header-label {
    font-weight: bold;
    margin-bottom: 8px;
}

#tab-response-data {
    position: relative;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 20px;
}